* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background-color: transparent;
  overflow-wrap: break-word;
  word-break: break-all;
}
img {
  max-width: 100%;
}
html {
  font-size: 6.25%;
  font-family: system-ui, sans-serif;
}
body {
  color: black;
  background-color: white;
  font-size: 16rem;
  transition: all 0.5s ease-in-out;
}
body.active {
  padding-right: 370rem;
}
.content {
  width: 1000px;
  margin-inline: auto;
}
.header-row {
  position: sticky;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;

  margin-inline: -20px;
}
.header-row .content {
  display: flex;
  padding: 20rem;
  align-items: center;
  column-gap: 50rem;
  justify-content: space-between;
  background-color: white;
}
.header-row-icon {
  position: relative;
}
.header-row-quantity {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #ff0000;
  color: white;
  border-radius: 50%;
  right: -40rem;
  top: -10rem;
}
.header-row-icon-svg {
  width: 50rem;
  height: 50rem;
}
.header-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: 20rem;
  padding-block: 20px 50px;
}
.header-product-item {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 20px rgb(0, 0, 0, 0.3);
}
.header-product-bg {
  width: 100%;
  height: 250px;
  overflow: hidden;
}
.header-product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header-product-info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.header-product-btn-add {
  background-color: black;
  color: white;
  padding: 8rem 20rem;
  width: fit-content;
  font-size: 18rem;
  border-radius: 5rem;
}
.cart.active {
  transform: translateX(0);
}
.cart {
  transition: all 0.5s ease-in-out;
  transform: translateX(110%);
  z-index: 100;
  padding: 10rem 20rem;
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 0;
  top: 0;
  bottom: 0;
  width: 550rem;
  background-color: rgb(189, 183, 107, 0.8);
  backdrop-filter: blur(10px);
}
.cart-item {
  display: grid;
  grid-template-columns: 50rem 140rem repeat(2, 1fr);
  column-gap: 10px;
  align-items: center;
}
.cart-item img {
  height: 50rem;
  width: 50rem;
  object-fit: cover;
}
.checkOut {
  margin-block: auto -20rem;
  display: flex;
  margin-inline: -20rem;
}
.total,
.closeShopping {
  flex: 1;
  padding: 20px 20px 30px;
  text-align: center;
  font-weight: 900;
}
.closeShopping {
  background-color: orangered;
  color: black;
}
.total {
  background-color: #9acd32;
}
.cart-quantity {
  display: flex;
  align-items: center;
  column-gap: 10rem;
}
.cart-quantity button {
  background-color: #ccc;
  width: 40px;
  height: 40px;
}
.listCart {
  padding-block: 20rem 10rem;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.count {
  min-width: 30rem;
  text-align: center;
}
.cart-delete {
  color: black;
  width: 30px;
  height: 30px;
}
